<mat-sidenav-container class="">
  <mat-sidenav #drawer mode="over" class="mat-elevation-z8">
    <router-outlet name="site-navigation"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content class="h-screen flex flex-col justify-between">

    <header >
      <mat-toolbar color="primary" class="mat-elevation-z8">
        <button mat-icon-button (click)="drawer.toggle()" aria-label="open side bar site navigation"
          matTooltip="Site Navigations">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="branding">
          <img class="nav-logo"  src="../../../../../assets/brand/balance-no-bg.svg" />
        </div>
        <span class="spacer"></span>
        <!-- <router-outlet name="system-options"></router-outlet> -->
        <!-- <button mat-fab (click)="accountSettings()" class="py-10 px-28" aria-label="account settings" matTooltip="Account settings" matTooltipPosition="below">
          <mat-icon>account_circle</mat-icon>
        </button> -->
      </mat-toolbar>
    </header>
      

    <main class="flex-grow">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>

    <footer class="h-20">
      <mat-toolbar color="primary">
      </mat-toolbar>
    </footer>
    

  </mat-sidenav-content>
</mat-sidenav-container>
