<ion-split-pane when="sm" contentId="main">
  <ion-menu type="overlay" side="start" menu="main-menu" contentId="main" style="max-width: 1%;">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Balance</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="flex-grid">
     <ion-card class="m-0 h-100">
        <ion-card-content>
          <router-outlet #navigation name="navigation"></router-outlet>
        </ion-card-content>
      </ion-card> 
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar class="ion-padding-end">
        <div slot="end">
          <router-outlet #actions name="actions"></router-outlet>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-grid class="flex-grid p-0">
        <ion-row class="flex-row" >
          <ion-col  class="p-0 ion-hide-sm-down" size="1.5">
            <ion-card class="m-0 h-100" >
              <ion-card-header></ion-card-header>
              <ion-card-content class="align-middle">
                <router-outlet #modulenav name="module-navigation" id="module-navigation"></router-outlet>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="ion-justify-content-center ion-padding">
              <router-outlet #outlet="outlet"></router-outlet>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-split-pane>